In [521]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common import exceptions
import time
from selenium.common.exceptions import StaleElementReferenceException

## Solution 1

In [20]:
def solution_1(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    time.sleep(2)
    ## storing all table rows element in a list
    tbl_rows=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr")[:30]
    rank=[]
    name=[]
    artist=[]
    views=[]
    date=[]
    ## traversing each row inside table one by one
    for i in tbl_rows:
        ## collecting data from data inside the rows like rank,artist etc
        try: rank.append(i.find_element_by_xpath(".//td[1]").text)
        except:rank.append('Not found')
        try:  name.append(i.find_element_by_xpath(".//td[2]").text)
        except: name.append('Not found')
        try:artist.append(i.find_element_by_xpath(".//td[3]").text)
        except: artist.append('Not found')
        try:views.append(i.find_element_by_xpath(".//td[4]").text)
        except: views.append('Not found')
        try:date.append(i.find_element_by_xpath(".//td[5]").text)
        except: date.append('Not found')
    df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views (billions)':views,'Upload Date':date})
    return df

In [21]:
solution_1('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

,Rank,Name,Artist,Views (billions),Upload Date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015"
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010"
27,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017"
28,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

## solution_2

In [41]:
def solution_2(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## getting URL for international fixture page
    fixture_page_url=browser.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a").get_attribute('href')
    ## navigating to international fixture page
    browser.get(fixture_page_url)
    ## collecting all anchor tags available on page
    anchors=browser.find_elements_by_xpath("//div[@class='event-list__list']/div/a")
    ## declaring empty lists to collect data
    title=[]
    series=[]
    place=[]
    time=[]
    date=[]
    ## traversing all anchor tags one by one and collecting required data
    for i in anchors:
        ## collecting match title
        try:title.append(i.find_element_by_xpath(".//div[@class='fixture__info u-skewed']/div[@class='fixture__description u-unskewed-text']/p[@class='fixture__additional-info']/strong[@class='fixture__name fixture__name--with-margin']").text)
        ## if exception occurs appending NA
        except:title.append('NA')
        # similarly collecting series
        try:series.append(i.find_element_by_xpath(".//div[@class='fixture__info u-skewed']/div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']").text)    
        except:series.append('NA')
        ## collecting place
        try:place.append(i.find_element_by_xpath(".//div[@class='fixture__info u-skewed']/div[@class='fixture__description u-unskewed-text']/p[@class='fixture__additional-info']/span").text)
        except:place.append('NA')
        ## declaring empty string 
        dt=''
        try:
            ## appending date and month in string dt
            dt=dt+(i.find_element_by_xpath(".//div[@class='fixture__full-date']/span[@class='fixture__date']").text)
            dt=dt+(i.find_element_by_xpath(".//div[@class='fixture__full-date']/div[@class='fixture__date-details']/span[@class='fixture__month']").text)
            ## appending dt in date list
            date.append(dt)
        except:date.append('NA')
        ## collecting Time
        try:time.append(i.find_element_by_xpath(".//div[@class='fixture__full-date']/div[@class='fixture__date-details']/span[@class='fixture__time']").text)
        except: time.append('NA')
    df=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
    return df

In [42]:
solution_2('https://www.bcci.tv/')

,Match Title,Series,Place,Date,Time
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13FEBRUARY,09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24FEBRUARY,14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04MARCH,09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12MARCH,19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14MARCH,19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16MARCH,19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18MARCH,19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20MARCH,19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28MARCH,13:30 IST
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
15,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

## Solution 3

In [58]:
def solution_3(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## searching for selenium out of all available anchor tags (Title on page) and once selenium is found breaking the loop
    for k in browser.find_elements_by_xpath("//li[@class='fa fa-chevron-circle-right']/a"):
        if(k.text=='Selenium'):
            browser.get(k.get_attribute('href'))
            break
    ## Now storing all rows of table in a list
    rows=browser.find_elements_by_xpath("//table[@class='table']/tbody/tr")
    ## traversing all rows till 'Selenium Exception Handling (Common Exceptions List)' is found and once found braking the loop after navigating to that page
    for td in rows:
        if(td.find_element_by_xpath(".//td[2]").text=='Selenium Exception Handling (Common Exceptions List)'):
            url=td.find_element_by_xpath(".//td[1]/a").get_attribute('href')
            browser.get(url)
            break
    ## storing all rows available on page containing name and description
    data_rows=browser.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr")[1:]
    ## declaring empty lists
    name=[]
    desc=[]
    ## traversing all data rows and storing data and description
    for data in data_rows:
        name.append(data.find_element_by_xpath(".//td[1]").text)
        desc.append(data.find_element_by_xpath(".//td[2]").text) 
    df=pd.DataFrame({'Name':name,'Description':desc})
    return df

In [59]:
solution_3('https://www.guru99.com/')

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Solution 4

In [ ]:
def solution_4(URL):

    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## getting the element containing 'economy india' option
    economy_india=browser.find_element_by_xpath("//div[@class='navbar']/div[2]/div[@class='dropdown-content']/a[3]")
    ## navigating to economy india page
    browser.get(economy_india.get_attribute('href'))
    ## getting list of all avilable anchor tags
    list_tags=browser.find_elements_by_xpath("//ul/li/a")
    ## taraversing all anchors and stopping the loop once 'GDP of Indian states' is found
    for i in list_tags:
        if(i.text=='» GDP of Indian states'):
            browser.get(i.get_attribute('href'))
            break
    ## getting all tables available on page
    gdp_table=browser.find_elements_by_xpath("//table[@class='display dataTable']")
    ## traversing all table till GDP table is found
    for i in gdp_table:
        if i.find_element_by_xpath(".//caption").text=='GSDP':
            ## if table is GDP then storting all rows inside it
            gdp_rows=i.find_elements_by_xpath(".//tbody/tr")
            break
    ## declaring empty lists
    rank=[]
    state=[]
    gsdp_1819=[]
    gsdp_1920=[]
    share=[]
    gdp=[]
    ## traversing all table rows one by one and collecting required data
    for k in gdp_rows:
        ## storing rank
        try:rank.append(k.find_element_by_xpath(".//td[1]").text)
        except:rank.append('NA')
        try:state.append(k.find_element_by_xpath(".//td[2]").text)
        except:state.append('NA')
        try:gsdp_1819.append(k.find_element_by_xpath(".//td[4]").text)
        except:gsdp_1819.append('NA')
        try:gsdp_1920.append(k.find_element_by_xpath(".//td[3]").text)
        except:gsdp_1920.append('NA')
        try:share.append(k.find_element_by_xpath(".//td[5]").text)
        except: share.append('NA')
        try: gdp.append(k.find_element_by_xpath(".//td[6]").text)
        except: gdp.append('NA')
    df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)':gsdp_1819,'GSDP(19-20)':gsdp_1920,'Share':share,'GDP ($ billion)':gdp}) 
    return df

In [104]:
solution_4('http://statisticstimes.com/')

,Rank,State,GSDP(18-19),GSDP(19-20),Share,GDP ($ billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Uttar Pradesh,"1,668,229","1,794,508",8.79%,252.278
2,3,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
3,4,Karnataka,"1,544,399","1,699,115",8.14%,233.552
4,5,Gujarat,"1,502,899",-,7.92%,227.276
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"492,229","531,374",2.59%,74.437
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170",-,0.39%,11.065
23,24,Tripura,"49,845","55,358",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"36,656","40,802",0.19%,5.543
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,869",-,0.15%,4.214
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"19,520",-,0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

## solution 5

In [519]:

def solution_5(URL):

    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## searching for treding URL
    trending_url=browser.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
    ## navigating to trending URL
    browser.get(trending_url.get_attribute('href'))
    ## getting all repository URL
    repository_href=[i.get_attribute('href') for i in browser.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")]
    ## getting names of all respository
    names=[i.text for i in browser.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")]
    ## declaring empty list
    desc=[]
    contri_count=[]
    language=[]
    ## navigating inside all repositories one by one
    for k in repository_href:
        ## making temporary variable
        temp=False
        ## refreshing browser to avoid stale element exception
        browser.refresh()
        try:
            ## navigating  to each repository
            browser.get(k)  
            ## storing description
            try:desc.append(browser.find_element_by_xpath("//div[@class='BorderGrid-row hide-sm hide-md']/div[1]/p[@class='f4 mt-3']").text)
            except:desc.append('NA')
            ## storing contribution count
            try:
                for i in browser.find_elements_by_xpath("//div[@class='BorderGrid-row']/div[@class='BorderGrid-cell']/h2[@class='h4 mb-3']"):
                    if (i.text.split(' ')[0]=='Contributors'):
                        temp=True
                        temp=i.text.split(' ')[1]
                        contri_count.append(temp)
                if(temp==False): contri_count.append('NA')
            except:contri_count.append('NA')
            ## storing languages
            try:
                lang=browser.find_elements_by_xpath("//li[@class='d-inline']")
                strng=''
                for i in lang: strng=strng+i.text.replace('\n','-')+','
                language.append(strng)
            except: language.append('NA')
        ## handling stale element exception in case it occurs
        except StaleElementReferenceException:
            browser.back()
            browser.get(k)

    df=pd.DataFrame({'Repository Title':names,'repository Description':desc,'Contributors count':contri_count,'Languages':language})
    return df

In [520]:
solution_5('https://github.com/')

,Repository Title,repository Description,Contributors count,Languages
0,satwikkansal / wtfpython,What the f*ck Python?,59,"Python-100.0%,"
1,rxi / lite,A lightweight text editor written in Lua,11,"Lua-79.9%,C-19.2%,Other-0.9%,"
2,vlang / v,"Simple, fast, safe, compiled language for deve...",378,"V-98.3%,CSS-0.4%,Batchfile-0.3%,C-0.3%,JavaScr..."
3,flybywiresim / a32nx,The A32NX Project is a community driven open s...,136,"JavaScript-90.7%,HTML-3.1%,Rust-2.1%,CSS-1.3%,..."
4,conwnet / github1s,One second to read GitHub code with VS Code.,10,"TypeScript-87.8%,HTML-4.0%,CSS-3.5%,JavaScript..."
5,libsdl-org / SDL,Simple Directmedia Layer,14,"C-65.8%,C++-25.3%,Objective-C-3.5%,Shell-1.7%,..."
6,jmdugan / blocklists,Shared lists of problem domains people may wan...,25,"DIGITAL Command Language-87.0%,JavaScript-7.5%..."
7,luspr / awesome-ml-courses,Awesome free machine learning and AI courses w...,2,
8,awslabs / amazon-eks-ami,Packer configuration for building a custom EKS...,111,"Shell-78.6%,PowerShell-17.9%,Makefile-3.5%,"
9,ModernPwner / cicuta_virosa,NA,NA,"C-100.0%,"
10,skovaka / UNCALLED,Raw nanopore signal mapper that enables real-t...,2,"C++-72.9%,Python-25.2%,Shell-1.2%,Makefile-0.7%,"
11,dotnet / AspNetCore.Docs,Documentation for ASP.NET Core,"1,373","C#-59.2%,HTML-31.3%,CSS-4.9%,JavaScript-3.9%,P..."
12,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,136,"Python-86.8%,Ruby-6.5%,ASP.NET-3.3%,Classic AS..."
13,angular / angular,One framework. Mobile & desktop.,"1,345","TypeScript-83.2%,JavaScript-12.2%,Starlark-1.6..."
14,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,"1,711","TypeScript-93.9%,Shell-4.9%,Dockerfile-1.2%,"
15,ivan-bilan / The-NLP-Pandect,A comprehensive reference for all topics relat...,4,"Python-100.0%,"
16,Azure / azure-quickstart-templates,Azure Quickstart Templates,"1,035","PowerShell-35.9%,Shell-34.9%,JavaScript-22.3%,..."
17,ebhy / budgetml,Deploy a ML inference service on a budget in l...,2,"Python-97.1%,Makefile-2.2%,Dockerfile-0.7%,"
18,mui-org / material-ui,Material-UI is a simple and customizable compo...,"2,097","JavaScript-65.8%,TypeScript-34.2%,"
19,AllThingsSmitty / css-protips,A collection of tips to help take your CSS ski...,34,
20,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,84,"JavaScript-100.0%,"
21,googlesamples / mlkit,A collection of sample apps to demonstrate how...,13,"Java-29.5%,Kotlin-28.8%,Objective-C-25.2%,Swif..."
22,roboll / helmfile,Deploy Kubernetes Helm Charts,170,"Go-95.2%,Shell-3.9%,Other-0.9%,"
23,excalidraw / excalidraw,Virtual whiteboard for sketching hand-drawn li...,144,"TypeScript-93.5%,SCSS-4.6%,JavaScript-1.3%,HTM..."
24,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,4,"Assembly-92.0%,C-1.9%,Brainfuck-1.6%,Roff-1.3%..."

## Solution 6

In [260]:
def solution_6(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)

    ## getting the href of hot_100 button
    hot_100=browser.find_element_by_xpath("//ul[@class='header__submenu__list']/li[1]/a").get_attribute('href')
    ## navigatin to hot_100 page
    browser.get(hot_100)
    ## storing all_songs
    all_songs_tags=browser.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[@class='chart-element__wrapper display--flex flex--grow sort--this-week']")
    ## declaring empty lists
    name=[]
    artist=[]
    last_week=[]
    peak_rank=[]
    week_on_board=[]
    ## traversing all_songs_tags
    for i in all_songs_tags:
        ## collecting name
        name.append(i.find_element_by_xpath(".//span[@class='chart-element__information']/span[@class='chart-element__information__song text--truncate color--primary']").text)
        ## collecting artist name
        artist.append(i.find_element_by_xpath(".//span[@class='chart-element__information__artist text--truncate color--secondary']").text)
        ## collecting last week rating
        last_week.append(i.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--last']").text)
        ## collecting peak rank
        peak_rank.append(i.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--peak']").text)
        ## collecting weeks on board
        week_on_board.append(i.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--week']").text)
    ## forming dataframe
    df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':last_week,'Peak rank':peak_rank,'Weeks on board':week_on_board})
    return df

In [262]:
solution_6('https://www.billboard.com/')

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

## Solution 7

In [337]:
def solution_7(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## getting recruiters url
    recruiters=browser.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
    ## navigating to recruiters page
    browser.get(recruiters)
    ## finding serach bar and entering 'Data science ' in it
    browser.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Science')
    ## finding search button and clicking it
    browser.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

    ## getting all left hand blocks
    sections_left=browser.find_elements_by_xpath("//div[@class='recSec fl fadeInUp']")
    ## getting all right hand blocks
    sections_right=browser.find_elements_by_xpath("//div[@class='recSec fr fadeInUp']")
    ## declaring empty lists
    name=[]
    desig=[]
    company=[]
    place=[]
    skills=[]
    ## combining right hand and left hand blocks
    total_sections=sections_left+sections_right
    ## traversing all blocks one by one and collecting required data
    for i in total_sections:
        try:name.append(i.find_element_by_xpath(".//p[@class='highlightable']/a/span").text)
        except: name.append('NA')
        try:desig.append(i.find_element_by_xpath(".//p[@class='highlightable']/span[@class='ellipsis clr']").text)
        except:desig.append('NA')
        try: company.append(i.find_element_by_xpath(".//p[@class='highlightable']/a[2]").text)
        except: company.append('NA')
        try: place.append(i.find_element_by_xpath(".//p[@class='highlightable']/span[2]").text)
        except: place.append('NA')
        try: skills.append(i.find_element_by_xpath(".//div[@class='hireSec highlightable']").text)
        except: place.append('NA')
    ##framing dataframe
    df=pd.DataFrame({'Name':name,'Designation':desig,'Company':company,'Skills':skills,'Location':place})
    return df

In [338]:
solution_7('https://www.naukri.com/')

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
4,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
5,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
6,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
7,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
8,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
9,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
10,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
11,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
12,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
13,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
14,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
15,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
16,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
17,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
18,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
19,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
20,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
21,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
22,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
23,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
24,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore
25,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
26,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
27,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
28,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
29,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
30,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
31,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
32,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
33,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
34,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
35,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
36,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
37,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
38,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",NA
39,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
40,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
41,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
42,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",NA
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai

## solution 8

In [346]:
def solution_8(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## getting all table rows available inside table
    table_rows=browser.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr")
    ## declaring empty lists
    name=[]
    author=[]
    volume=[]
    publisher=[]
    genre=[]
    ## traversing all rows one by one and colleting data
    for i in table_rows:
        try:name.append(i.find_element_by_xpath(".//td[2]").text)
        except:name.append('NA')
        try:author.append(i.find_element_by_xpath(".//td[3]").text)
        except:author.append('NA')
        try:volume.append(i.find_element_by_xpath(".//td[4]").text)
        except:volume.append('NA')
        try:publisher.append(i.find_element_by_xpath(".//td[5]").text)
        except:publisher.append('NA')
        try:genre.append(i.find_element_by_xpath(".//td[6]").text)
        except:name.append('NA')
    ## framing dataframe
    df=pd.DataFrame({'Book name':name,'Author':author,'Volume':volume,'Publisher':publisher,'Genre':genre})
    return df

In [347]:
solution_8('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

,Book name,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## solution 9

In [381]:
def solution_9(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)
    ## getting all available movie blocks on the page
    all_list=browser.find_elements_by_xpath("//div[@class='lister-item mode-detail']")
    ## declaring empty lists
    name=[]
    y_span=[]
    genre=[]
    runtime=[]
    rating=[]
    votes=[]
    ## traversing all block one by one and collecting data
    for i in all_list:
        ## getting name of movie
        try:name.append(i.find_element_by_xpath(".//h3[@class='lister-item-header']/a").text)
        except: name.append('NA')
        ## getting year span
        try:y_span.append(i.find_element_by_xpath(".//h3[@class='lister-item-header']/span[@class='lister-item-year text-muted unbold']").text)
        except: y_span.append('NA')
        ## getting Genre
        try:genre.append(i.find_element_by_xpath(".//p[@class='text-muted text-small']/span[@class='genre']").text)
        except: genre.append('NA')
        ## getting runtime
        try:runtime.append(i.find_element_by_xpath(".//p[@class='text-muted text-small']/span[@class='runtime']").text)
        except: runtime.append('NA')
        ## getting Rating
        try:rating.append(i.find_element_by_xpath(".//div[@class='ipl-rating-widget']/div[@class='ipl-rating-star small']").text)
        except: rating.append('NA')
        ## getting votes
        try:votes.append(i.find_element_by_xpath(".//p[4]/span[2]").text)
        except: votes.append('NA')
    df=pd.DataFrame({'Name':name,'Year span':y_span,'Genre':genre,'Runtime':runtime,'Ratings':rating,'Votes':votes})
    return df

In [384]:
solution_9('https://www.imdb.com/list/ls095964455/')

,Name,Year span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,183"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,587"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,054"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,109"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,339"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,571"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,850"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,099"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,082"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,209"

## solution 10

In [430]:
def solution_10(URL):
    browser=webdriver.Chrome('chromedriver.exe')
    browser.maximize_window()
    browser.get(URL)



    ## getting all anchors tags
    all_dataset=browser.find_elements_by_xpath("//span[@class='whitetext']/a")

    ## finding all dataset anchor tag and navigating to that url
    for i in all_dataset:
        if i.text  == 'View ALL Data Sets':
            browser.get(i.get_attribute('href'))
            break

    ## storing all table rows
    table_rows=browser.find_elements_by_xpath("//table[2]/tbody[1]/tr[1]/td[2]/table[2]/tbody/tr")[1:]
    ## declaring all empty lists
    name=[]
    data_type=[]
    task=[]
    Attribute_type=[]
    No_of_instances=[]
    No_of_attribute=[]
    year=[]



    ## traversing all table rows one by one and collecting data
    for row in table_rows:
        try: name.append(row.find_element_by_xpath(".//td[1]").text)
        except: name.append('NA')
        try: data_type.append(row.find_element_by_xpath(".//td[2]").text)
        except: data_type.append('NA')
        try: task.append(row.find_element_by_xpath(".//td[3]").text)
        except: task.append('NA')
        try: Attribute_type.append(row.find_element_by_xpath(".//td[4]").text)
        except: Attribute_type.append('NA')
        try: No_of_instances.append(row.find_element_by_xpath(".//td[5]").text)
        except: No_of_instances.append('NA')
        try: No_of_attribute.append(row.find_element_by_xpath(".//td[6]").text)
        except: No_of_attribute.append('NA')
        try: year.append(row.find_element_by_xpath(".//td[7]").text)
        except: year.append('NA')
    ## framing a dataframe
    df=pd.DataFrame({'Dataset name':name,'Data type':data_type,'Task':task,'Attribute type':Attribute_type,'No_of_instances':No_of_instances,'No_of_attribute':No_of_attribute,'year':year})
    return df

In [431]:
solution_10('https://archive.ics.uci.edu/')

,Dataset name,Data type,Task,Attribute type,No_of_instances,No_of_attribute,year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,IIWA14-R820-Gazebo-Dataset-10Trajectories,Regression,Integer,,,2020
555,Guitar Chords finger positions,Guitar Chords finger positions,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Russian Corpus of Biographical Texts,Classification,,200,2,2020
557,Codon usage,Codon usage,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscop...,Intelligent Media Accelerometer and Gyroscope ...,Classification,Real,800,9,2020